####################################
# SERVER
####################################

PORT=3000

####################################
# DATABASE
####################################

DATABASE_URL=

####################################
# TELEGRAM
####################################

BOT_TOKEN=

OWNER_ID=

####################################
# SECURITY
####################################

JWT_SECRET=

SESSION_SECRET=

####################################
# RAILWAY
####################################

NODE_ENV=development

####################################
# WEBHOOK
####################################

WEBHOOK_URL=

####################################
# TIMEZONE
####################################

TZ=Asia/Ho_Chi_Minh